// _variables.scss

// Colores principales
$primary: #ffd700;
$primary-foreground: #000000;
$secondary: #ffeb3b;
$secondary-foreground: #000000;
$tercero:#00f0ff;
$tercero-foreground: #000000;

$accent: #ffc107;
$accent-foreground: #000000;

// Colores de fondo y texto
$background: #0f172a;
$foreground: #f1f5f9;

$card: #1e293b;
$card-foreground: #f1f5f9;

// Bordes y efectos
$border: #334155;
$ring: #ffd700;

// Estados
$success: #00b894;
$warning: #f56464; // rojito tipo Tailwind red-500
$error: #f56464; // rojito tipo Tailwind red-500    